<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head.ejs',{title:'Listado de Generos'}) %>
    <body>
        <%- include('./partials/header.ejs') %>
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 class="mb-4">LISTADO DE GENEROS</h1>
                        <a class="btn btn-success mb-2" href="/genres/add">Agregar nuevo genero</a>
                        <a class="btn btn-secondary mb-2" href="/">Inicio</a>
                        <table class="table table-bordered">
                            <thead class="table-dark">
                                <tr>
                                    <th>Nombre</th>
                                    <th>Ranking</th>
                                    <th>Active</th>
                                    <th>Peliculas</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% genres.forEach(genre=> { %>
                                    <tr>
                                        <td>
                                            <%= genre.name %>
                                        </td>
                                        <td>
                                            <%= genre.ranking %>
                                        </td>
                                        <td>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" role="switch"
                                                    <%=genre.active && 'checked' %> >
                                            </div>
                                        </td>
                                        <td>
                                            <% if (genre.movies.length) { %>
                                                <div class="accordion accordion-flush" id="accordionFlushExample">
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header">
                                                            <button class="accordion-button collapsed" type="button"
                                                                data-bs-toggle="collapse"
                                                                data-bs-target="#flush-collapse<%= genre.id %>"
                                                                aria-expanded="false"
                                                                aria-controls="flush-collapse<%= genre.id %>">
                                                                <span>
                                                                    <%= genre.movies.length %> Peliculas
                                                                </span>
                                                            </button>
                                                        </h2>
                                                        <div id="flush-collapse<%= genre.id %>"
                                                            class="accordion-collapse collapse"
                                                            data-bs-parent="#accordionFlushExample">
                                                            <div class="accordion-body">
                                                                <ul>
                                                                    <% genre.movies.forEach(movie=> { %>
                                                                        <li><a href="/movies/detail/<%= movie.id %>">
                                                                                <%= movie.title %>
                                                                            </a></li>
                                                                        <% }) %>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <% }else{ %>

                                                    <% } %>
                                        </td>
                                        <td>
                                            <a class="btn btn-secondary" href="/genres/detail/<%= genre.id %>"><i
                                                    class="fa-solid fa-eye"></i></a>
                                            <a class="btn btn-primary" href="/genres/edit/<%= genre.id %>"><i
                                                    class="fa-solid fa-pen-to-square"></i></a>
                                            <a class="btn btn-danger" href="/genres/delete/<%= genre.id %>"><i
                                                    class="fa-solid fa-trash"></i></a>
                                        </td>
                                    </tr>
                                    <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <%- include('./partials/script.ejs') %>
    </body>

</html>